<link rel="stylesheet" href="/css/header.css">
<header>
    <nav class="header-nav">
        <div class="title">
            <a href="/">Entertainment Recommendation System</a>
        </div>
        <div class="row">   
            {{#if loggIn}}
           
            <button class="button" id="login-button">
                Login
            </button>
            {{else}}


            <div>
            <form action="/users/logout" method="get" id="logout-form">
                <button class="button" id="logout-button" for="logout-form">
                    Logout
                </button>
            </form>
            </div>
            
            {{/if}}
        </div>
    </nav>
</header>