<link rel="stylesheet" href="/css/header.css">
<header>
    <nav class="header-nav">
        <div class="title">
            <a href="/">Entertainment Recommendation System</a>
        </div>
        <div class="row">
            {{#if loggIn}}
            {{#if isDefaultRoute}}

            <button class="button" id="login-button">
                Login
            </button>
            {{else}}
            <a href="/" class='button button-a'>Go to Home</a>

            {{/if}}
            {{else}}
            <div>
                <a class="user-profile-icon" href="/users/profile" aria-label="user-icon"><i class="fa fa-user"
                        aria-hidden="true"></i></a>
            </div>

            <div>
                <form action="/addList" method="get">
                    <button class="addListButton">MyList</button>
                </form>
            </div>

            <div>
                <form action="/users/logout" method="get" id="logout-form">
                    <button class="button" id="logout-button">
                        Logout
                    </button>
                </form>
            </div>



            {{/if}}
        </div>
    </nav>
</header>