<!DOCTYPE html>
<html lang="en">
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/default.css">
    {{{_sections.head}}}
</head>

<body>  
   <main>
       {{>header}}
        {{{body}}}
        {{>footer}}
   </main>
</body>

</html>