.footer-panel {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background-color: #31393c;
  font-family: 'Courier New', Courier, monospace;
  color: cornsilk;
  font-weight: 400;
}
