.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  background: rgb(43, 41, 41);
  background: radial-gradient(circle, rgba(43, 41, 41, 1) 0%, rgba(66, 66, 66, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.title {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

.title a {
  text-decoration: none;
  color: #fff;
}

.button {
  background: #dc143c;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 12px;
  font-weight: 700;
  padding: 6px 30px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  scale: 1.2;
  transform: scale(1.1);
}
.button:focus {
  outline: none;
}

.user-profile-icon{
  font-size: 26px;
  padding: 0px 26px;
  color: #fafafa;
}

.addListButton{
  background: #dc143c;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 12px;
  font-weight: 700;
  padding: 6px 30px;
  position: relative;
  right: 13px;
  transition: all 0.2s ease-in-out;
}

.button-a,.button-a:hover,.button-a:visited{
color:#fff;
text-decoration: none;
}
