body {
    background-color:white;
    margin: 0px;  
    height: 100vh;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-body{
height: 100%;
display: flex;
flex-direction:column
}
  