.movieContainer {
  width: 100%;
  margin: 40px 0px;
}

#mainCardContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#filter {
  margin: 30px 10px;
}

.cardSubContainer {
  cursor: pointer;
  text-decoration: none;
  height: fit-content;
  margin-bottom: 40px;
}

.cardSubContainer:hover {
  text-decoration: none;
}

.card h1 {
  color: black;
  font-size: 20px;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}
.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid white;
}

@media screen and (max-width: 1100px) {
  .float-child {
    width: 100%;
  }
}

.inline {
  display: inline;
}

.directionRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin: 20px 0px;
}

.directionRow h2 {
  margin: 0;
  margin-right: 15px;
  font-size: 22px;
}

.directionRow p {
  margin: 0;
  font-size: 18px;
  margin-right: 10px;
  font-weight: 400;
  align-self: center;
}

.overviewContainer h2 {
  margin: 0;
  margin-right: 15px;
  font-size: 22px;
}

.overviewContainer p {
  font-size: 18px;
  margin-right: 10px;
  font-weight: 400;
}

.tableContainer {
  margin-top: 30px;
}

.title {
  margin-bottom: 20px;
}

.commentContainer {
  margin: 2px 40px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}

.commentStyle {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
}

.commentName {
  padding: 10px 20px;
  padding-bottom: 0px;
  font-size: 20px;
}

.commentHeading {
  font-size: 24px;
  margin-left: 20px;
}

.commentMessageStyle {
  padding: 0px 20px;
}

.card-body h5 {
  color: #6c757d;
}

.userRatingContainer div {
  margin-left: 32px;
  background: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.userRatingContainer i {
  font-size: 90px;
  transition: 0.5s;
  margin-left: 5px;
  margin-bottom: 5px;
  color: #448aff;
  cursor: pointer;
}

.likeContainer i:hover {
  color: #2962ff;
}

.fas {
  color: #448aff;
  transition: 0.4s;
}

.fas:hover {
  color: #2962ff;
}

.rateContainer {
  margin: 2px 0px;
  display: flex;
  flex-direction: row;
}

#addComment {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
}

#submitComment {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  margin: 10px 0px;
  background: #ccc;
}

#commentBody {
  width: 100%;
}

.directionRowComment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.deleteCommentButton {
  border: none;
  height: 35px;
  width: 100px;
  border-radius: 10px;
  margin: 10px 0px;
  background: #dc143c;
  color: white;
  pointer-events: all;
}

.deleteCommentButton:hover {
  opacity: 0.8;
}

.commentUpdate {
  margin-right: 20px;
}

.userRatingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userRatingContainer h4 {
  margin: 0 5px;
  font-size: 16px;
}

.genreButton {
  padding-left: 25px !important;
  width: 90%;
  background: #dc143c;
  border: none;
  color: white;
  height: 40px;
  margin: 0px 8px;
}

.ratingHeadingStyle {
  font-size: 24px;
  color: #6c757d;
}
