{{>header}}

<div class="container" id="container">
    <div id="headData">
        <h1>MyList</h1>
        <p>HOW MUCH MOVIES HAVE YOU SEEN?.</p>
    </div>

    <div class="status-menu-container">
        <div class="status-menu">
            <a href="" class="status-button">All movies</a>
            <a href="" class="status-button">Currently Watching</a>
            <a href="" class="status-button">Completed</a>
            <a href="" class="status-button">On Hold</a>
            <a href="" class="status-button">Dropped</a>
            <a href="" class="status-button">Plan to Watch</a>
            <a href="/addList/addMovie" class="status-button">Add movies</a>
        </div>
    </div>


    <div id="addHeader2" style="display: none;">All Movie</div>

    <tbody id="list-table" style="display: none;"></tbody>

</div>





{{>footer}}